{:paths ["src"]
 :deps {org.clojure/clojure {:mvn/version "1.12.0"}}
 :aliases {:dev {:extra-deps {cloverage/cloverage {:mvn/version "1.2.4"}}
                 :extra-paths ["test"]}
           :cloverage {:extra-deps {cloverage/cloverage {:mvn/version "1.2.4"}}
                       :extra-paths ["test"]
                       :main-opts ["-m" "cloverage.coverage"
                                   "-ns-regex" "us.chouser.open"
                                   "--extra-test-ns" "us.chouser.open-test"
                                   "--fail-threshold" "98"]
                       :jvm-opts ["-Dclojure.main.report=stderr"]}}}
